

.background-video {
    min-height: 120vh;
    width: 100vw;
    maxHeight: 1000px;
    max-width: 105vw; 
    overflow: hidden;
    position: absolute;
    backgroundPosition: center center;
    backgroundSize: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    alignItems: center;
    top: -10vh;
    object-fit: fill !important;
}

.parallex2 {
    position:relative;
    opacity:1.0;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-image:url("../assets/images/Background2.jpg");
}

/* .sections {
    background-color: #000 !important;
} */